<div class="books-search">
  <%= form_tag lookups_path, method: :get do %>
    <%= text_field_tag 'term', params[:term], id: "books-search-txt" %>

    <%= submit_tag 'Search!', name: nil %>
    <div class="results" id="books-search-results"></div>
  <% end %>
</div>

<br>


<script>
  $(function() {
    new app.Lookups;
  });
</script>
