<div class="row text-center">
  <div class="col-md-12">
    <h1><%= link_to "home", root_url %></h1>
    <br>
    <h5><%= current_account.owner.email %></h5>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-3"></div>
  <div class="col-md-6">

    <br>
    <br>
    <% current_account.users.each do |user| %>

      <div class="formy">

          <div class="pull-left">
            <h5><%= user.email %></h5>
          </div>
          <div class="pull-right">
            <%= link_to "Remove", account_user_path(current_account, user), method: :delete, data: { confirm: "Are you sure you want to remove this user?" }, class: "btn btn-xs btn-danger" %>
          </div>
      </div>
      <br>
    <% end %>
  </div>
  <div class="col-md-3"></div>
</div>
