<%= link_to "Invite new user", new_account_invitation_path(current_account), class: "button is-primary" %>
<hr>

<table class='table table-striped' id='users'>
  <thead>
    <th>User</th>
    <th></th>
  </thead>

  <tbody>
    <tr>
      <td><%= current_account.owner.email %></td>
      <td></td>
    </tr>
    <% current_account.users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td>
          <%= link_to "Remove", account_user_path(current_account, user),method: :delete, data: { confirm: "Are you sure you want to remove this user?" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
