<p>
You have been invited to join the <%= @invitation.project.title %> account on Yrsa.
</p>
<% accept_url = accept_account_project_invitation_url(@account, @project, @invitation) %>
<%= link_to "Accept Invitation", accept_url %> </p>
