<div class="landing-image">
  <h1>aetomata</h1>
  <br>
  <br>

  <%= image_tag 'fulton2.jpg', class: "img-responsive" %>
  <h3>
     Instead of "reading" a review, see exactly what your users are talking about
  </h3>
  <br>
  <br>
  <br>
  <%= image_tag 'guys2.jpg', class: "img-responsive" %>
  <br>
  <h3>
    With invitation based review, you can limit who can review
  </h3>
  <br>
  <br>
  <br>
  <%= image_tag 'street.jpg', class: "img-responsive" %>
  <br>
  <h3>
    Visualize your data with a straight forward charts
  </h3>
  <br>
  <br>
  <br>
  <%= image_tag 'dynamic.png', class: "img-responsive" %>
  <br>
  <h3>
    Create and modify what attributes that you want your users to review, dynamically
  </h3>
</div>
