<% @title = "aetomata - Home - Intro - Help" %>

<div class="row way-down-center">

  <div class="card-body">
    <h3 class="card-title font-weight-bold">Welcome to Aetomata</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="row half-way-down-center">
  <div class="col-md-4">
    <div class="card-body">
      <h6 class="card-title font-weight-bold">Learn what makes your products tick</h6>
      <p class="card-text">Joshua Gans is Professor of Strategic Management and the holder of the Jeffrey S. Skoll Chair of Technical Innovation and Entrepreneurship at Toronto's Rotman School of Management. Gans is a frequent contributor to outlets like the New York Times, Harvard Business Review, Forbes, Slate, and the Financial Times. Joshua also writes regularly at several blogs including Digitopoly.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>

  </div>
  <div class="col-md-4">
    <div class="card-body">
      <h6 class="card-title font-weight-bold">Collaborate and set goal</h6>
      <p class="card-text">"An excellent book on the economics of Artificial Intelligence. Steeped in both economics and AI/ML, this book steers clear of hype (or anti-hype), applying standard economic concepts to a rapidly emerging phenomenon. The book is geared to business readers not economists or policymakers but it has a lot to offer to everyone... Highly recommended." -- Jason Furman, former Chair of President Obama's Council of Economic Advisors on Goodreads</p>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card-body">
      <h6 class="card-title font-weight-bold">Prediction</h6>
      <p class="card-text">Artificial intelligence does the seemingly impossible, magically bringing machines to life--driving cars, trading stocks, and teaching children. But facing the sea change that AI will bring can be paralyzing. How should companies set strategies, governments design policies, and people plan their lives for a world so different from what we know? In the face of such uncertainty, many analysts either cower in fear or predict an impossibly sunny future.</p>

    </div>
  </div>
</div>
