<div class="row way-down-center">

  <div class="card-body">
    <h3 class="card-title font-weight-bold">Welcome to Aetomata</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<br>
