<% if user_signed_in? %>
  <h2>Pick an account</h2>
  <% current_user.all_accounts.each do |account| %>
    <li><%= link_to account.name, root_url %></li>
  <% end %>
<% end %>

<li><%= link_to "Projects", projects_path %></li>
