<li>
  <%= invitation.email %>
  <%= link_to account_project_invitation_path(current_account, @project, invitation), method: :delete, data: { confirm: "Are you sure you want to canceled invitation to #{invitation.email}?" } do %>
    <span uk-icon="trash"></span>
  <% end %>
</li>
