<div class="row">
  <div class="col-md-6">
    <h2> Items <%= all_items %>/25 </h2>
    <br>

  </div>
  <div class="col-md-6">
    <div class="pull-right">
      <% if @project.user_id == current_user.id %>
        <%= link_to "add item", new_account_project_item_path(current_account, @project), class: "btn btn-default btn-lg pull-left" %>
      <% end %>
    </div>
  </div>
</div>
