<div class="col-md-9 col-xs-6">
  <h3>items</h3>
</div>
<div class="col-md-3 col-xs-6">
  <div class="tab">
    <% if @project.user_id == current_user.id %>
      <%= link_to "add item", new_account_project_item_path(current_account, @project), remote: true, class: "btn btn-default btn-sm" %>
    <% end %>
    <div class="pull-right">
      <button class="tablinks" onclick="openCity(event, 'cards')" id="defaultOpen"><span class="far fa-file-alt"></span></button>
      <button class="tablinks" onclick="openCity(event, 'lists')"><span class="fas fa-list-ul"></span></button>
    </div>
  </div>
</div>
