<div class="new-project-button">
  <div class="col-md-9 col-sm-6 col-xs-6">
    <p class="item_list">
      <% if @project.user_id == current_user.id %>
    		<%= link_to "+ New Item", new_account_project_item_path(current_account, @project), remote: true, class: "btn btn-success btn-lg" %>
    	<% end %>

    </p>

  </div>
  <div class="col-md-3 col-sm-6 col-xs-6">
    <div class="tab pull-right">
      <button class="tablinks" onclick="openCity(event, 'cards')" id="defaultOpen"><span class="fa fa-file"></span></button>
      <button class="tablinks" onclick="openCity(event, 'simple-lists')"><span class="fa fa-th-list"></span></button>
      <button class="tablinks" onclick="openCity(event, 'lists')"><span class="fa fa-list"></span></button>
    </div>
  </div>

</div>
