<p class="project-box-header">Messages board</p>
<% @project.boards.last(4).each do |board| %>
  <div class="project-box-preview-board">
    <p class="project-box-preview-text"><%= truncate(board.note, length: 40) %></p>
  </div>
<% end %>
