<div class="row">
  <% @project.items.last(4).each do |item| %>
    <div class="col-sm-6">
      <div class="project-box-preview-item">
        <%= item.name %>
      </div>
    </div>
  <% end %>
</div>
