<% @details.last(4).each do |detail| %>
  <li>
    <div class="project-box-preview">
      <p class="project-box-preview-text"><%= detail.name %></p>
      <p class="project-box-preview-subtext"><%= detail.description %></p>
    </div>

  </li>
<% end %>
