<div class="project_attributes text-center">
  <%= render "details/index" %>
  <%= link_to "add", new_account_project_detail_path(current_account, @project, @detail), remote: true, class: "new-detail-button btn btn-default btn-lg" %>
</div>
