<div id="footer">
  <div class="icon-bar">
    <%= link_to root_url do %>
      <span class="fa fa-home"></span>
    <% end %>

    <a href="#"><i class="fa fa-"></i></a>

    <%= link_to lookups_path(current_account) do %>
      <i class="fa fa-search"> </i>
    <% end %>

    <a href="#"><i class="fa fa-"></i></a>

    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fa fa-user"></i>
    <% end %>

  </div>
  <div class="container">

  </div>
</div>
