<%= form_for([current_account, @project], remote: true) do |f| %>
  <div class="formly2" id="current-pane">
    <%= render "shared/errors", obj: @project %>
    <div class="control">
      <%= f.text_field :title, placeholder: 'title (new project)', label: false, class: "input ", :maxlength => 25, :size => 40 %>
    </div>

    <div class="row pull-right">
      <%= f.submit "add project", class:"btn btn-default btn-xs" %>
      <button href="#current-pane" class="btn btn-xs" data-dismiss="alert" aria-label="close" id="hide">close</button>

    </div>
    <br>
    <br>
  </div>
<% end %>
