<% current_user.all_accounts.each do |account| %>

  <%= link_to account_project_path(account, project) do %>
  <div class="col-md-2 col-sm-4 col-xs-6">
    <div class="account_box1 text-space ">
      <h4><strong><%= truncate(project.title, length: 10) %></strong></h4>
      <br>
      <h5><%= project.items.size %> items </h5>

    </div>
  </div>

  <% end %>
<% end %>
