<div>

  <%= smart_listing_controls_for(:items, {class: ""}) do %>
    <div class="filter form-search">
      <div class="input-group">
        <%= text_field_tag :filter, '', class: "", placeholder: "Search...", autocomplete: :on, value: "#{params[:filter]}" %>

          <%= submit_tag 'Refresh', :class => "btn btn-primary btn-xs", :name => "do_query" %>
          <%= link_to  "Clear search", '/items', class: "btn btn-default btn-xs" %>

      </div>
    </div>
  <% end %>

  <script>(type="text/javascript")
    <% if params[:f] %>
      <% params[:f].each do |field, param| %>
        <% param.each do |option, value| %>
          <% if value[:o] != "skip" %>
            <% if value[:v].is_a? Hash %>
              value = ["#{value[:v]['0']}", "#{value[:v]['1']}", "#{value[:v]['2']}"]
            <% else %>
              value = "#{value[:v]}"
              $.filters.append(humanize("#{field}"), "#{field}", "#{Movie.columns_hash[field].type}", value, "#{value['o']}", "", "#{option}");
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </script>


</div>
