<div class="row">
  <% if @project.user_id == current_user.id %>
    <div class="col-md-2"></div>
    <div class="col-md-2 col-sm-6 col-xs-6 text-center">
      <h2><%= invitations.count %></h2>
       <h6>Invitations</h6>
    </div>

    <div class="col-md-2 col-sm-6 col-xs-6 text-center">
      <h2><%= project_rating %></h2>
      <h6>Rating</h6>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-6 text-center">
      <h2><%=  project_reviews_count %></h2>
      <h6>Reviews</h6>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-6 text-center">
      <h2><%= time_ago_in_words(@project.created_at) %></h2>
      <h6>  old</h6>
    </div>
    <div class="col-md-2"></div>
  <% end %>
</div>
