<% if @project.user_id == current_user.id %>
  <h4>Quick overviews</h4>
  <hr>
  <h4><small>created</small> <%= time_ago_in_words(@project.created_at) %></h4>
  <br>
  <h4><small>last updated</small> <%= time_ago_in_words(@project.updated_at) %></h4>
  <br>
  <h4><%= project_rating %> rating </h4>
  <br>
  <h4><%=  project_reviews_count %> Reviews</h4>
<% end %>
