<div class="col-md-4">
  <div class="project-board">
    <h5><small>created <%= time_ago_in_words(@project.created_at) %> ago</small></h5>
    <% if @project.user_id == current_user.id %>
      <li><h4><small>invitations : <%= invitations.count %></small></h4></li>
      <li><h4><small>overall rating: <%= project_rating %></small></h4></li>
      <li><h4><small>Reviews: <%=  project_reviews_count %></small></h4></li>
    <% end %>
  </div>
</div>
