<div class="row">
  <% if @project.user_id == current_user.id %>
    <div class="col-md-4 col-xs-6">
      <div class="box text-center">
        <h4>
          Invited users: <%= invitations.count %>
        </h4>
      </div>
    </div>

    <div class="col-md-4 col-xs-6">
      <div class="box text-center">
        <h4>
          overall rating: <%= project_rating %>
        </h4>
      </div>
    </div>

    <div class="col-md-4 col-xs-6">
      <div class="box text-center">
        <h4>
          Reviews: <%=  project_reviews_count %>
        </h4>
      </div>
    </div>
  <% end %>
</div>
