
  <div class="col-md-3 col-sm-3 col-xs-6">

    <div class="box">
      <h4>users</h4>
      <% @project.users.each do |u| %>
        <h5><small><%= u.email %></small></h5>
      <% end %>
    </div>
  </div>
