<div class="col-md-4 col-sm-3 col-xs-12 ">
  <div class="project-board">
    <h3 class="text-center"><icon class="fa fa-users"></icon> users</h3>
    <hr>
    <% @project.users.each do |u| %>
      <li><h5><%= u.email %></h5></li>
    <% end %>
  </div>
</div>
