<div class="project_users text-center">
  <% @project.users.each do |u| %>
    <% if u.email != current_user.email %>
      <li style="display:inline-block; float: left; margin-right:5px;">
        <h5><%= u.email %> <small><%= link_to "x", unfollow_account_project_user_path(current_account, @project, u), :method => 'delete', data: { confirm: "are you sure?"} %> </small></h5>
      </li>
    <% end %>
  <% end %>
  <%= link_to "add / remove members", new_account_project_invitation_path(current_account, @project), class: "btn btn-default" %>
</div>
