<h4><%= @project.title %></h4>
<% @project.items.each do |item| %>
  <h1><%= link_to item.name, account_project_item_path(@account, @project, @item) %></h1>
<% end %>
<%= link_to "New Item", new_account_project_item_path(@account, @project) %>
