
<br>
  <div class="row">
  <div class="col-sm-7">
    <div class="card white-bg">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Welcome to Aetomata</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="card white-bg">
      <div class="card-body">
        <h5 class="card-title">Sign in</h5>
      </div>

    </div>
  </div>
