<div class="col-md-4">
<%= link_to account_project_board_path(current_account, @project, board), class:"board-box-link" do %>

    <div class="board-box">
      <p class="board-note"><%= sanitize truncate(board.note, length: 100) %></p>

        <p><%= board.user.email %></p>
        <p><%= time_ago_in_words(board.created_at) %> ago</p>

    </div>
<% end %>
</div>
