<div class="<%= cycle('left', 'right') -%>">
  <div class="board-post">
    <p class="board-note"><%= board.note %></h3>
    <p><%= board.user.email %></p>
    <p><%= time_ago_in_words(board.created_at) %> ago</p>
  </div>
</div>
