<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for ([current_account, set_project, @board]), remote: true, html: { style: "display:inline;" } do |f| %>
      <% f.hidden_field :project_id %>
      <div class="modal-body">
        <ul class="errors"></ul>

        <div class="control">
          <%= f.text_field :note, class: "input" %>
        </div>

      </div>
      <div class="modal-footer">
        <%= f.submit class: "btn btn-success" %>
        <%= link_to "Cancel", "#", class: "btn btn-warning", data: {dismiss: "modal"} %>
      </div>
    <% end %>
  </div>
</div> 
