
<%= form_for([current_account, @project, @board], remote: true) do |f| %>
  <div class="formly" id="current-pane">
    <% f.hidden_field :project_id %>
    <%= f.hidden_field :note, placeholder: "enter", class: "input", id:"board-note" %>
    <trix-editor input= "board-note" class="trix-content"></trix-editor>
    <br>
    <%= f.file_field :photo, class: "dropzone" %>
    <br>
    <div class="row">

        <%= f.button "add", class: "uk-button uk-button-default" %>
        <button href="#current-pane" class="btn btn-default" data-dismiss="alert" aria-label="close" id="hide">close</button>

    </div>
  </div>
<% end %>
