
<%= form_for ([current_account, set_project, @board]), remote: true, html: {} do |f| %>
  <div class="formly" id="current-pane">
    <% f.hidden_field :project_id %>
    <%= f.text_area :note, placeholder: "name", class: "input", id:"board-note" %>
    <trix-editor input= "board-note">
    <br>
    <div class="row">
      <div class="pull-right">
        <%= f.button "add", class: "btn btn-success" %>
        <button href="#current-pane" class="btn btn-default" data-dismiss="alert" aria-label="close" id="hide">close</button>
      </div>
    </div>
  </div>
<% end %>
