<div class="formy-back">
   <p class="formy-back-title"><%= link_to set_project.title, account_project_path(current_account, set_project) %> - <%= link_to "boards", account_project_boards_path(current_account, set_project, @boards) %> </p>
 </div>

<div class="formy">
  <div class="row">
    <li class="dropdown pull-right">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <icon class="fa fa-trash"></icon>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">

        <li><%= link_to "remove", account_project_board_path(current_account, set_project, @board), method: :delete, data: {confirm: "Are you sure?"}, remote: true %></li>
      </ul>
    </li>
  </div>
  <%= render "bubble" %>
</div>
