<div class="row text-center">
  <% if reviewers.include?(current_user.email) %>
    <h4 class="test">You've submitted a review</h3>
  <% else %>
    <%= link_to "Rate it", new_account_project_item_review_path(current_account, set_project, @item),  class:"btn btn-lg btn-default" %>
  <% end %>
</div>
