<div class="box">
  <div class="nested-fields">
    <%= link_to_remove_association " ", f, class:"fa fa-times-circle fa-2x pull-right", data: {confirm: 'are you sure ?'} %>
    <%= f.text_field :name, class: "input", placeholder: "name" %>
    <%= f.text_field :description, class: "input", placeholder: "description" %>
    <!-- <%= f.check_box :_destroy, class: "input" %> -->
  </div>
</div>
