<div id="footer">
  <div class="icon-bar">
    <%= link_to account_project_path(current_account, set_project) do %>
      <i class="fa fa-building"> </i>
    <% end %>
    <a href="#"><i class="fa fa-"></i></a>
    <%= link_to root_url do %>
      <span class="fa fa-home"></span>
    <% end %>
    <a href="#"><i class="fa fa-"></i></a>

    <%= link_to edit_account_project_item_path(current_account, set_project, @item) do %>
      <i class="fa fa-gear"></i>
    <% end %>
  </div>
  <div class="container">

  </div>
</div>
