<%= div_for @item do %>
  <div class="item_box">
    <p class="item_detail"><%=  @item.details.count  %> attributes</p>
    <div class="row">
      <% @item.details.each do |detail| %>
        <div class="col-md-6">
          <li class="item_detail_list"><%= detail.name %></li>
        </div>
      <% end %>
     </div>

    <p class="item_time">created <%= time_ago_in_words(@item.created_at) %> ago</p>
  </div>

<% end %>
