<div class="row text-center">
  <div class="col-md-12 col-sm-12">
    <h1>
      <small><%= link_to @project.title, account_project_path(current_account, set_project), class: "link-to-text-color" %> - </small>
      <strong><%= @item.name %></strong>
    </h1>
  </div>
</div>
