<%= link_to account_project_item_path(current_account, @project, item), class: 'link-to-text-color' do %>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <div class="box">
      <h4><strong><%= truncate(item.name, length: 15) %></strong></h4>
      <% url = generate_url_attributes_preview(item.link) %>
    </div>
  </div>
<% end %>
