<%= link_to account_project_item_path(current_account, @project, item), class: 'link-to-text-color' do %>
  <div class="col-md-2 col-sm-3 col-xs-6">
    <% url = generate_url_attributes_preview(item.link) %>
    <%= image_tag(url, :size => '172x100', class: "item-image") %>
    <p class="project-item-list"><%= truncate(item.name, length: 15) %></p>
    <p class="project-item-dates"><%= time_ago_in_words(item.updated_at) %> ago</p>
  </div>
<% end %>
