<% if each_review_value.present? %>
  <% each_review_value.sort.each do |k,v| %>

    <div class="barChart">
      <div class="barChart__row" data-value="100">
        <div class="barChart__row" data-value= <%= ((v.to_f / count_values.to_f) * 100).to_i %> >
          <span class="barChart__label"><%= k %> <span class="fa fa-star"></span></span>
          <span class="barChart__value"><p class="heading"><%= ((v.to_f / count_values.to_f) * 100).to_i %>%</p></span>
          <span class="barChart__bar"><span class="barChart__barFill"></span></span>
        </div>
      </div>
    </div>

  <% end %>
<% else %>
  <h3>No review yet!</h3>
<% end %>
