<%= link_to account_project_path(current_account, set_project) do %>
  <div class="formy-back">
    <%= set_project.title %>
  </div>
<% end %>
<div class="formy">
  <div class="my-items row">
    <% if @items.present? %>
      <%= render @items %>

    <% else %>
      <div class="text-center">
        <h3>No items yet</h3>
      </div>
    <% end %>
  </div>
</div>
