<% @title = @project.title + " - items" %>

<br>

<div class="bottom-padding">
  <h4 class="card-title">
    <strong>Items</strong>
    <%= link_to "New", new_account_project_item_path(current_account, @project, @item), class: " og-item-button btn btn-primary", remote: true %>
  </h4>
  <p class="card-text grey-text">With supporting text below as a natural lead-in to additional content.</p>
  <p class="card-text grey-text">back to <%= link_to @project.title, account_project_path(current_account, @project), class:"primary-link" %></p>
  <hr>
  <div class="new-item-button"></div>
  <div class="my-items"></div>

  <% if @items.present? %>
  <div class='row'>
    <%= render @items %>
  </div>
  <% else %>
  <article class="uk-comment uk-comment-primary way-down-center ">

    <div class="uk-comment-body">
      <h5 class="font-weight-bold text-center">Nothing yet</h5>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
  </article>

  <% end %>
</div>
