<div class="row">
  <div class="col-md-9">
    <%= render "header" %>
    <br>
    <%= render "stats" %>
    <br>
    <%= render "more_stats" %>
  </div>

  <div class="col-md-3">

    <%= render "reviews" %>

  </div>
</div>

<div id="product-modal" class="modal fade"></div>
