@media only screen and (min-width: 1026px) {

  .account-project-zero-margin {
    margin-left: -10px;
  }
  
  //billings
  .card-input-verification {
    width: 30%;
    height: 35px;
    font-size: 16px;
    margin: 5px;
    font-weight: 300;

    background-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .payment-form {
    margin: auto;
    padding: 30px;
    width: 50%;
  }

  //plans
  .plan-box {
    height: auto;
    width: 100%;
    background-color: white;
    padding: 50px;
    margin-right: 80px;
    margin-left: 20px;
  }

  .plan-box:hover {
    background-color: #efece8;
    cursor: pointer;
  }

  .plan-picker-content {
    font-size: 16px;
  }

  //accounts
  .account-signup-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }

  .account-project-box {
    height: auto;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.86);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.86);
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.86);
  }

  .account-project-box-title {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 0px;
    text-align: center;
    margin-top: -5px;
  }

  .account-project-box-sub {
    font-size: 16px;

  }

  .account-name {
    font-size: 30px;
    font-weight: bold;
  }

  a.account-project-box-link {
    color: black;
  }


}
