/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dropzone/dropzone
 *= require sweetalert2
 */

 @import "jquery.barCharts";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "mobile";
 @import "desktop";
 @import "tablet";
 @import "growlyflash";
 @import "toggle";


html, body {
  background-color: white;
  padding-left: 0px;
  padding-right:0px;
}

.link-to-text-color {
  color: black;
}

body, html {
  overflow-x:hidden!important;
}

// ul, li {
//   list-style-type: none;
// }

h1 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 48px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 700;
	line-height: 26.4px;
}

h3 {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Futura, "BT Pro Book", Arial, sans-serif;
  margin: 0;
}

ul, li {
  list-style-type: none;
}

.review-header h2 {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

.review-header p {
   color: grey;
}

h2 span {
    background:#fff;
    padding:0 10px;
}

.fa {
  text-shadow: 0px 0px 1px black, 0px 0px 1px black;
  color: white;
}

.container2 {
  background-color: #fcfcfc;
  padding-top: 30px;
  padding-bottom: 30px;
}


.navbar {
  background-color: white;
  font-size: 24px;
  font-family: Futura, "BT Pro Book", Arial, sans-serif;
  font-weight: bolder;
}

.navbar a{
  color: black!important;
  font-variant: small-caps;
}

.navbar li {
  color: black!important;
  font-variant: small-caps;
}

.box {
  background-color: white;
  box-shadow: 20px 15px 100px -20px #556d7f;
}

.boxy {
  border-style: none;
  background-color: #fffcef;
  box-shadow: 20px 15px 100px -20px black;
}

.tile {
   height: auto;
   width: auto;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-right: 15px;
   padding-left: 15px;
   margin-left: 2px;
   margin-right: 2px;
   background-color: white;
   box-shadow: -5px 25px 150px -20px black;
 }

  .tile:hover {
    background-color: #fff6a5;
    border-radius: 30px;
  }
.box a:link {
  text-decoration: none!important;
}

a:link, a:hover{
  text-decoration: none!important;
}

a:link {
  color: black!important;
}

.box span {
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
}

.boxy span {
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
}


.item ul, li {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.input, select, textarea {
  border-top: none;
  border-left: none;
  border-right: none;
}

textarea:focus, input:focus{
  outline: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-weight: lighter;
}

.activity {
  border-bottom: solid 1px #CCC;
  padding: 16px 0;
  em {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#push, #footer {
  height: 50px;
}

#footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  text-align:center;
}

.modal-backdrop {
  opacity: 0;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-style: none;

}

th, td {
  border: none;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #f2f2f2
}

.hli {
   border:2px solid black;
}

hr {
  height: 1px;
  color: #e8e8e8; /* old IE */
  background-color: #e8e8e8; /* Modern Browsers */
}

img {
  margin-left: auto;
  margin-right: auto;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  color: #999b9a;
}

input[type=radio]:checked + label {
  color: #ffeb21;
}

.stats-row {
  padding-left: 10px;
  padding-right: 30px;
}

.landing-image h3 {
  color: grey;
  font-weight: lighter;
}

.check_box {
  font-size: 18px;
  font-style: italic;
}
