/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dropzone/dropzone
 */

 @import "jquery.barCharts";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "mobile";
 @import "desktop";
 @import "tablet";
 @import "growlyflash";
 @import "toggle";

html, body {
  background-color: white;
  padding-left: 0px;
  padding-right:0px;
}

.link-to-text-color {
  color: black;
}

body, html {
  overflow-x:hidden!important;
}

ul, li {
  list-style-type: none;
}

h1 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 48px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 700;
	line-height: 26.4px;
}

h2 small {
  font-size: 25px;
  color: #92b290;
}

h3 {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Futura, "BT Pro Book", Arial, sans-serif;
  margin: 0;
}

.container2 {
  background-color: #fcfcfc;
  padding-top: 30px;
  padding-bottom: 30px;
}

.star-rating {
  zoom: 70%;
}

.navbar {
  background-color: #556d7f;
  font-size: 18px;
}

.navbar > li > a {
  color: #f9f7f4; /*Change active text color here*/
}

.box {
  border-style: none;
  background-color: white;
  box-shadow: 20px 15px 100px -20px #556d7f;
}

.subtitle h4 {
  color: grey;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  font-weight: bold;
}

.boxy {
  border-style: none;
  background-color: white;
  box-shadow: 20px 15px 100px -20px black;
}

.box a:link {
  text-decoration: none!important;
}

a:link, a:hover{
  text-decoration: none!important;
}

.tile span {
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
}

.box span {
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
}

.boxy span {
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
}


.item ul, li {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.input, select, textarea {
  border-top: none;
  border-left: none;
  border-right: none;
}

textarea:focus, input:focus{
  outline: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #c49999;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.activity {
  border-bottom: solid 1px #CCC;
  padding: 16px 0;
  em {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

#push, #footer {
  height: 60px;
}
#footer {
  background-color: #f7ead9;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  text-align:center;
}

.modal-backdrop {
  opacity: 0;
}

.btn {
  font-family:  "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 15px;
  border-width: medium;
  border-radius: 15px;
}

.btn-success {
  background-color: hsl(145, 62%, 68%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdf3dd", endColorstr="#7adfa4");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cdf3dd), to(#7adfa4));
  background-image: -moz-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -ms-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdf3dd), color-stop(100%, #7adfa4));
  background-image: -webkit-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -o-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: linear-gradient(#cdf3dd, #7adfa4);
  border-color: #7adfa4 #7adfa4 hsl(145, 62%, 63%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-default {
  border-radius: 15px;
}

.btn-danger {
  background-color: hsl(360, 37%, 43%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a44b4b", endColorstr="#964545");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a44b4b), to(#964545));
  background-image: -moz-linear-gradient(top, #a44b4b, #964545);
  background-image: -ms-linear-gradient(top, #a44b4b, #964545);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a44b4b), color-stop(100%, #964545));
  background-image: -webkit-linear-gradient(top, #a44b4b, #964545);
  background-image: -o-linear-gradient(top, #a44b4b, #964545);
  background-image: linear-gradient(#a44b4b, #964545);
  border-color: #964545 #964545 hsl(360, 37%, 42%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
  -webkit-font-smoothing: antialiased;
}

.btn-warning {
  background-color: hsl(36, 95%, 31%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8990b", endColorstr="#9a5e03");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f8990b), to(#9a5e03));
  background-image: -moz-linear-gradient(top, #f8990b, #9a5e03);
  background-image: -ms-linear-gradient(top, #f8990b, #9a5e03);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8990b), color-stop(100%, #9a5e03));
  background-image: -webkit-linear-gradient(top, #f8990b, #9a5e03);
  background-image: -o-linear-gradient(top, #f8990b, #9a5e03);
  background-image: linear-gradient(#f8990b, #9a5e03);
  border-color: #9a5e03 #9a5e03 hsl(36, 95%, 26%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-style: none;

}

th, td {
  border: none;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #f2f2f2
}

.hli {
   border:2px solid black;
}

.radiohidden {
  display:none;
}

hr {

  height: 1px;
  color: #e8e8e8; /* old IE */
  background-color: #e8e8e8; /* Modern Browsers */
}

img {
  margin-left: auto;
  margin-right: auto;
}
