/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "growlyflash";

 @media only screen and (max-width: 634px) {
 .project {
     width: 50% !important;
     
    }
 }

 @media only screen and (min-width: 500px) {
  .container {
    max-width:65%!important;
  }

  .container-fluid {
    max-width: 80%!important;
  }

  .formly {
    margin-top: 50px!important;
  }
}

 html {
   background-color: #efedea!important;
 }

 body {
   background-color: #efedea!important;
 }

 .chart {
   background-color: #efedea!important;
 }

.col-md-4 {
  padding-bottom: 30px;
}

ul, li {
  list-style-type: none;
}

a:link, a:hover{
  text-decoration: none!important;
}

.modal {
  padding-top: 100px; /* Location of the box */
}

.modal-card {
  width: auto!important;
}

.navbar {
  background: #827f7b!important;
}

.input, select, textarea {
  background-color: #efedea!important;
}

.formly {
  background-color: white!important;
}

.box {
  height: 175px;
}

/* Style the list */
ul.breadcrumbs {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumbs li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumbs li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumbs li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumbs li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.item {
  background-color: white!important;
  padding: 20px!important;
  margin: 20px!important;
}
