/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dropzone/dropzone
 *= require sweetalert2
 */

 @import "jquery.barCharts";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "mobile";
 @import "desktop";
 @import "tablet";
 @import "growlyflash";
 @import "toggle";
 @import "pretty-checkbox";


html, body {
  background-color: #fcf8ed;
  margin-top: 0px;
}

.jumbotron {
  background-color: white;
}

.link-to-text-color {
  color: #a05353;
}

body, html {
  overflow-x:hidden!important;
}


h4.test {
  width: 11em;
  border: 1px solid #000000;
  word-wrap: break-word;
  background-color: #baeab2;
  padding: 1px 2px 1px 2px;
  margin: 2px 2px 5px 2px;
  border-style: none;
  display: inline;
}

h1 {
  // font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 42px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 700;
	line-height: 26.4px;
}

h3 {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Futura, "BT Pro Book", Arial, sans-serif;
  margin: 0;
}

ul, li {
  list-style-type: none;
}

.review-header h2 {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

.review-header p {
   color: grey;
}

h2 span {
    background:#fff;
    padding:0 10px;
}

.fa {
  color: #ededed;
  -webkit-text-stroke: 0.5px grey;
}

.navbar {
  background-color: #f7f5f2;
  font-size: 24px;
  font-family: Futura, "BT Pro Book", Arial, sans-serif;
  font-weight: bolder;
}

.navbar a{
  color: black!important;
  font-variant: small-caps;
}

.navbar li {
  color: black!important;
  font-variant: small-caps;
}

.box {
  background-color: white;
  box-shadow: 20px 15px 100px -20px #556d7f;
}

.boxy {
  background-color: white;

}

.tile {
   height: auto;
   width: auto;
   padding-top: 20px;
   padding-bottom: 20px;


 }

.box a:link {
  text-decoration: none!important;
}

a:link, a:hover{
  text-decoration: none!important;
}

a:link {
  color: black!important;
}

.box span {
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
}

.boxy span {
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
}


.input, select, textarea {
  border-top: none;
  border-left: none;
  border-right: none;
}

textarea:focus, input:focus{
  outline: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-weight: lighter;
}

.activity {
  border-bottom: solid 1px #CCC;
  padding: 16px 0;
  em {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  text-align:center;
}

.modal-backdrop {
  opacity: 0.7;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-style: none;

}

th, td {
  border: none;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #f2f2f2
}

.hli {
   border:2px solid black;
}

hr {
  height: 1px;
  color: #e8e8e8; /* old IE */
  background-color: #e8e8e8; /* Modern Browsers */
}

img {
  margin-left: auto;
  margin-right: auto;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  color: #999b9a;
}

input[type=radio]:checked + label {
  color: #ffeb21;
}

.stats-row {
  padding-left: 10px;
  padding-right: 30px;
}

.landing-image h3 {
  color: grey;
  font-weight: lighter;
}

.check_box {
  font-size: 18px;
  font-style: italic;
}

//tabs view
/* Style the tab */
.tab {
  padding-left: 10px;
  overflow: hidden;
  border: none;
  background-color: #fcf8ed;
  padding-right: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: 0.1s;
}

/* Change background color of buttons on hover */
    .tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #94d888;
    ;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
}

//buttons styling

.btn-success {
  background-color: #6bb271;

}

//image overlay
.product-image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    display: none;
}

.product-image-overlay .product-image-overlay-close {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #eee;
    line-height: 35px;
    font-size: 20px;
    color: #eee;
    text-align: center;
    cursor: pointer;
}

.product-image-overlay img {
    width: auto;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


//table
.table h2 {
  text-align: center;
  padding: 20px 0;
}

.table-bordered {
  border: 1px solid #ddd !important;
}

table caption {
	padding: .5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    display: none;
  }
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}
