//*= require trix

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require dropzone/dropzone
 *= require_self
 *= require jquery-ui/datepicker

 */
 @import "bootstrap";
 @import "jquery.barCharts";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "mobile";
 @import "desktop";
 @import "tablet";
 @import "toggle";
 @import "animate";
 @import "lookups";
 @import "subscriptions";
 @import "project-desktop";
 @import "item-desktop";
 @import "account-desktop";
 @import "user-desktop";
 @import "challenge-desktop";
 @import "board-desktop";


 .modal-dialog {
     background-color: white;
   }

 .modal-backdrop {
  background-color: white!important;
  opacity: 0.9!important;
}

 .modal-content {
   background-color: white!important;
   margin-top: 100px;
   width: auto;
 }

 .modal-body {
   background-color: white!important;
   height: auto;
 }

html, body {
  font-family: Tahoma, Geneva, sans-serif;
  background-color: white;
  margin-top: 0px;
  overflow-x:hidden!important;
}


.fa-twitter {
  color: #68db60;
}

.black-link a {
  color: black!important;
  font-size: 12px;
}


ul, li {
  list-style-type: none;
}

.header2 h2 {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #d1d0cf;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

.review-header p {
   color: grey;
}

.fa {
  color: #7a7a7a;
  -webkit-text-stroke: 0.5px;
}

a:link {
  text-decoration: none;
}

textarea:focus, input:focus{
  outline: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-weight: lighter;
}

.activity {
  border-bottom: solid 1px #CCC;
  padding: 16px 0;
  em {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  text-align:center;
}



hr {
  height: 1px;
  color: #e8e8e8; /* old IE */
  background-color: #e8e8e8; /* Modern Browsers */
}

img {
  margin-left: auto;
  margin-right: auto;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  color: #999b9a;
}

input[type=radio]:checked + label {
  color: #ffeb21;
}


//tabs view
/* Style the tab */
.tab {
  padding-left: 10px;
  overflow: hidden;
  border: none;
  background-color: #f7f5f2;
  padding-right: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: 0.1s;
}

/* Change background color of buttons on hover */
    .tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: white;
    ;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
}

.modal-content {
  background-color: white!important;
  margin-top: 50px;;
}

.modal-body {
  background-color: white!important;
  width: auto;
  height: auto;
}

//signin
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
