/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dropzone/dropzone
 */

 @import "jquery.barCharts";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "mobile";
 @import "desktop";
 @import "tablet";
 @import "growlyflash";
 @import "toggle";

html, body {
  background-color: white;
  padding-left: 0px;
  padding-right:0px;
}

.link-to-text-color {
  color: black;
}

body, html {
  overflow-x:hidden!important;
}

ul, li {
  list-style-type: none;
}

h1 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 48px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 700;
	line-height: 26.4px;
}

h2 small {
  font-size: 25px;
  color: #92b290;
}

h3 {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Futura, "BT Pro Book", Arial, sans-serif;
  margin: 0;
}

.container2 {
  background-color: #fcfcfc;
  padding-top: 30px;
  padding-bottom: 30px;
}

.star-rating {
  zoom: 70%;
}

.navbar {
  background-color: #556d7f;
  font-size: 18px;
}

.navbar > li > a {
  color: #f9f7f4; /*Change active text color here*/
}

.box {
  border-style: none;
  background-color: white;
  box-shadow: 20px 15px 100px -20px #556d7f;
}

.subtitle h4 {
  color: grey;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  font-weight: bold;
}

.boxy {
  border-style: none;
  background-color: white;
  box-shadow: 20px 15px 100px -20px black;
}

.box a:link {
  text-decoration: none!important;
}

a:link, a:hover{
  text-decoration: none!important;
}

.tile span {
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
}

.box span {
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
}

.boxy span {
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
}


.item ul, li {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.input, select, textarea {
  border-top: none;
  border-left: none;
  border-right: none;
}

textarea:focus, input:focus{
  outline: none;
  font-size: 30px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: bolder;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #c49999;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 30px;

}

.activity {
  border-bottom: solid 1px #CCC;
  padding: 16px 0;
  em {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

#push, #footer {
  height: 60px;
}
#footer {
  background-color: #f7ead9;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  text-align:center;
}

.modal-backdrop {
  opacity: 0;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-style: none;

}

th, td {
  border: none;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #f2f2f2
}

.hli {
   border:2px solid black;
}

.radiohidden {
  display:none;
}

hr {

  height: 1px;
  color: #e8e8e8; /* old IE */
  background-color: #e8e8e8; /* Modern Browsers */
}

img {
  margin-left: auto;
  margin-right: auto;
}
