/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require sweetalert2
 *= require jquery-ui/datepicker

 */

 @import "jquery.barCharts";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "mobile";
 @import "desktop";
 @import "tablet";
 @import "growlyflash";
 @import "toggle";
 @import "animate";
 @import "lookups";

html, body {
  background-color: #f9f9f9;
  margin-top: 0px;
  overflow-x:hidden!important;
}


.link-to-text-color {
  color: #c4c4c4;
}

.link-to-text-color:hover {
  color:#dbdbdb;

}

h4.test {
  width: 11em;
  border: 1px solid #000000;
  word-wrap: break-word;
  background-color: #baeab2;
  padding: 1px 2px 1px 2px;
  margin: 2px 2px 5px 2px;
  border-style: none;
  display: inline;
}

h3 {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  margin: 0;
}

ul, li {
  list-style-type: none;
}

.header2 h2 {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #d1d0cf;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

.review-header p {
   color: grey;
}

h2 span {
  background: #fcf8ed;
  padding:0 10px;
}

.fa {
  color: #7a7a7a;
  -webkit-text-stroke: 0.5px;
}

.navbar {
  background-color: #fcfcfc;
  font-size: 24px;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  font-weight: bolder;
}

.navbar a{
  color: black!important;
  font-variant: small-caps;
}

.navbar li {
  color: black!important;
  font-variant: small-caps;
}

.tile {
   height: auto;
   width: auto;
   padding-top: 20px;
   padding-bottom: 20px;
 }

a:link {
  text-decoration: none!important;
  color: black!important;
}

.box span {
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
}

.boxy span {
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
}


.input, select, textarea {
  border-top: none;
  border-left: none;
  border-right: none;
}

textarea:focus, input:focus{
  outline: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-weight: lighter;
}

.activity {
  border-bottom: solid 1px #CCC;
  padding: 16px 0;
  em {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  text-align:center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-style: none;

}

th, td {
  border: none;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #f2f2f2
}

.hli {
   border:2px solid black;
}

hr {
  height: 1px;
  color: #e8e8e8; /* old IE */
  background-color: #e8e8e8; /* Modern Browsers */
}

img {
  margin-left: auto;
  margin-right: auto;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  color: #999b9a;
}

input[type=radio]:checked + label {
  color: #ffeb21;
}

.landing-image h3 {
  color: grey;
  font-weight: lighter;
}

//tabs view
/* Style the tab */
.tab {
  padding-left: 10px;
  overflow: hidden;
  border: none;
  background-color: #f7f5f2;
  padding-right: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: 0.1s;
}

/* Change background color of buttons on hover */
    .tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: white;
    ;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
}

//buttons styling

.btn-success {
  background-color: #6bb271;
}

.btn-warning {
  background-color: #d8c595;
}

.btn-warning:hover {
  background-color: #d8c595;
}

//image overlay
.product-image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    display: none;
}

.product-image-overlay .product-image-overlay-close {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #eee;
    line-height: 35px;
    font-size: 20px;
    color: #eee;
    text-align: center;
    cursor: pointer;
}

.product-image-overlay img {
    width: auto;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


//table
.table h2 {
  text-align: center;
  padding: 20px 0;
}

.table-bordered {
  border: 1px solid #ddd !important;
}

table caption {
	padding: .5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    display: none;
  }
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}


.modal-content {
  background-color: white!important;
  margin-top: 50px;;
}

.modal-body {
  background-color: white!important;
  width: auto;
  height: auto;
}
