/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "growlyflash";
 @import "jquery.barCharts";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 html {
   background-color: #e5e0da;
 }

 body {
   background-color: #e5e0da;
 }

 body, html {
   overflow-x:hidden!important;
 }

//mobile
 @media only screen and (max-width: 400px) {
   .container {
     margin: 15px!important;
   }

   .box {
      height: auto!important;
   }
 }

//desktop
 @media only screen and (min-width: 400px) {

  .container {
    max-width:70%!important;
    padding-bottom: 150px!important;
  }

  .box {
    height: 150px!important;
    background-color: white!important;
    box-shadow: 1px!important;
    margin-right: 2px!important;
    margin-left: 2px!important;
    margin-top: 50px!important;
  }

  .tile {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    height: 100px;
    width: 200px;
    background-color: white;
  }

  .formly {
    margin-top: 50px!important;
    margin-bottom: 50px!important;
  }

  .field {
    margin: 20px!important;
    padding-bottom: 50px!important;
  }

}

 .chart {
   background-color: #f2efea!important;
 }

ul, li {
  list-style-type: none;
}

a:link, a:hover{
  text-decoration: none!important;
}

// .navbar {
//   background: #66615b!important;
// }

.input, select, textarea {
  border-top: none!important;
  border-left: none!important;
  border-right: none!important;
  height: auto!important;
}

.formly {
  background-color: white!important;
  box-shadow: 1px!important;
}

.box:hover {
  background-color: #c9c4bd!important;
}

.tile:hover {
  background-color: #b0d1a3;
}

.tile span {
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
}

.box span {
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
}

.navbar-item a {
  color: white!important;
  font-size: 15px!important;
}

.navbar-item a:hover {
  color: #ff885e!important;
}

.padding0 {
  padding-right:2px!important;
  padding-left:2px!important;
}
