/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dropzone/dropzone
 */

 @import "growlyflash";
 @import "jquery.barCharts";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "mobile";
 @import "desktop";


html, body {
  background-color: #f4f3f2;
  padding-left: 0px;
  padding-right:0px;
}

body, html {
  overflow-x:hidden!important;
}

ul, li {
  list-style-type: none;
}

h1 {
  font-size: 60px;
  color: black;
}

h2 small {
  font-size: 28px;
  color: #92b290;
}

h3 {
  font-size: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  font-weight: bold;
  margin: 0;
}

.container2 {
  background-color: #fcfcfc;
  padding-top: 30px;
  padding-bottom: 30px;
}

.star-rating {
  zoom: 70%;
}

.navbar {
  background-color: #fcfcfc;
  font-size: 18px;
}

.navbar > li > a {
  color: white; /*Change active text color here*/
}

.box {
  border-style: none;
  background-color: white;
  box-shadow: 0 6px 4px -4px black;
}

.box h1, h2, h3, h4, h5 {
  color: black;
}

.subtitle h4 {
  color: #ff7272;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-weight: 100;
}

.boxy {
  border-style: none;
  background-color: white;
  box-shadow: 0 6px 4px -4px black;
}

.box a:link {
  text-decoration: none!important;
}

a:link, a:hover{
  text-decoration: none!important;
}

.tile span {
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
}

.box span {
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
}

.boxy span {
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
}

.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* Bottom of button */
  right: 0;
  margin: auto;
  width: 250px;
  background-color: #b3d6b5;
}

.item ul, li {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.input, select, textarea {
  border-top: none;
  border-left: none;
  border-right: none;
}

textarea:focus, input:focus{
  outline: none;
}

.btn-success {
  background-color: #8cff8e;
  border-color: none;
}

.btn-danger {
  background-color: #23af93;
}

.activity {
  border-bottom: solid 1px #CCC;
  padding: 16px 0;
  em {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

#push, #footer {
  height: 60px;
}
#footer {
  background-color: #fcfcfc;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  text-align:center;
}
