//desktop
 @media only screen and (min-width: 1026px) {

  h1, h2, h3, h4, h5, h6 {
    // margin: 0!important;
    margin-bottom: 0.83em;
  }

  .check_box {
    font-size: 18px;
    color: grey;
  }

   .row {
     padding-top: 5px;
     padding-left: 0px;
     padding-right: 0px;
     height: 100%;
   }

  .container {
    max-width: 85%;
    padding-bottom: 80px;
  }

  .container-fluid {
    max-width: 80%;
    margin: 0px;
    padding: 0px;
  }

  .landing-image {
    margin: auto;
  }

  .mobile-user {
    display: none;
  }

  .big {
     display:block;
     width: 400px;
     height: 300px;
     background-color: white;
     cursor:pointer;
     padding-left: 20px;
     padding-top: 100px;
     padding-right: 20px;
     margin-top: 25px;
     margin-bottom: 25px;
   }

  .box {
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
    width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: white;
  }

  .project-board {
    height: 250px;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    margin-bottom: 40px;
    background-color: white;
  }

  .item-view {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 15px 25px 50px 25px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #fcfcfc;
  }

  .col-md-10 {
    height: auto;
  }

  .stats {
    height: 150px;
    width: 100%;
    margin-right: 2px!important;
    margin-left: 2px!important;
    margin-top: 30px!important;
    padding-top: 20px;
    padding-left: 15px;
    border-radius: 10px;
    background-color: white;
    border-color: black;
    border-style: inset;
  }

  .boxy {
    height: 50%;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1px;
    padding-right: 1px;
    border-style: none;
  }

  .boxyy {
    height: auto;
    width: 100%;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: white;
  }

  .formly {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f9f7f2;
    padding-left: 90px;
    padding-right: 90px;
  }

  .formy {
    cursor:pointer;
    min-height: 1000px;
    max-width: 100%;
    padding-top: 25px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;

  }

  .project-row {
    padding-left: 15px;
    padding-bottom: 50px;
  }

  .account_box1 {
    height: 200px;
    width: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    border-style: none;
    background-color: white;
    box-shadow: 20px 15px 100px -20px #556d7f;
  }


  .account_box2 {
    height: auto;
    width: 100%;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    border-style: none;
    background-color: white;
    box-shadow: 20px 15px 100px -20px #556d7f;

  }

  .account_box3 {
    height: auto;
    width: 100%;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    border-style: none;
    background-color: white;
    box-shadow: 20px 15px 100px -20px #556d7f;
  }

  .account_box4 {
    height: auto;
    width: 100%;
    padding-bottom: 20px;

    border-radius: 5px;
    margin-bottom: 20px;
    border-style: none;
    background-color: white;
    box-shadow: 20px 15px 100px -20px #556d7f;
  }

  .comment {
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
  }

  .board-show {
    background-color: white;
    padding: 20px 20px 20px 20px;
  }

  .modal-dialog {
    background-color: white;
  }

  .modal-content {
    background-color: white!important;
    margin-top: 100px;
    width: auto;
  }

  .modal-body {
    background-color: white!important;
    height: auto;
  }

  .input-text, select textarea {
    width: 100%;
    height: 100px;
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 300;
    resize: none;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: white;
  }

  .input, select textarea {
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    font-weight: 300;
    resize: none;
    background-color: white;

  }

  input::placeholder {
  color: #c9c8c5;
}

  input[type=checkbox] {
    transform: scale(2);
  }

  .detail-text, select textarea {
    width: 50%;
    height: 30px;
    font-size: 15px;
    font-weight: bolder;
    border-top: none;
    border-right: none;
    border-left: none;

  }

  .navbar {
    height: 40px;
    float: none;
    margin:0 auto;
    display: block;
    text-align: center;
    ;
  }

  .navbar > li {
    display: inline-block;
    float:none;
    text-align: center;
  }

  .project-header {
    background-color: white;

  }

  .dropdown-container {
    position: relative;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%; /* Bottom of button */
    right: 0;
    margin: auto;
    width: 300px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .dropdown-menu > li > a:hover {
    background-color: grey;
  }

  #footer {
    display: none;
  }

  .log-back {
    display: none;
  }

  .billing {
    margin-top: 40px;
    border-style: hidden;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  //style

  label {
    font-size: 30px;
    font-weight: 900;
    font-family: monospace;
  }

  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }

  //buttons
  .btn-default {
    margin: 10px 10px;
    background-color: white;
  }

  .fa {
    font-size: 22px;
  }
}
