//desktop
 @media only screen and (min-width: 400px) {

   #footer {
     display: none;
   }

   .log-back {
     display: none;
   }

   .row {
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 0px;
     padding-left: 0px;
   }

  .container {
    max-width:60%;
    padding-bottom: 150px;
  }

  .landing-image {
    padding-right: 70px;
  }

  .box {
    height: 150px;
    width: 100%;
    margin-right: 2px!important;
    margin-left: 2px!important;
    margin-top: 30px!important;
    padding-top: 20px;
    padding-left: 15px;
    border-radius: 10px;
  }

  .boxy {
    height: auto;
    background-color: white;
    margin-right: 2px!important;
    margin-left: 2px!important;
    margin-top: 30px!important;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .tile {
    border-radius: 10px;
    margin-bottom: 20px;
    height: 100px;
    width: 200px;
    background-color: white;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
  }

  .formly {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    border-style: none;
    border-radius: 20px;
    box-shadow: 0 6px 4px -4px black;
  }

  .formy {
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #ccc6c1;
    border-style: none;
    border-radius: 20px;
  }

  .item {
    padding-top: 10px;
    height: 250px;
    background-color: white;
    box-shadow: 0 6px 4px -4px black;
  }

  .input, select {
    width: 80%;
    height: 50px;
    font-size: 18px;
    padding-bottom: 10px;
  }

  textarea {
    width: 100%;
    font-family: monospace;
    height: 150px;
    font-size: 18px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;

    resize: none;
  }

  .control-image {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .navbar {
    height:55px;
  }

  .navbar {
    float: none;
    margin:0 auto;
    display: block;
    text-align: center;
  }

  .navbar > li {
    display: inline-block;
    float:none;
    text-align: center;
  }


}
