//desktop
 @media only screen and (min-width: 1026px) {

  //accounts

  .account-project-box {
    height: auto;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.86);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.86);
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.86);
  }

  .account-project-box-title {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 0px;
    text-align: center;
    margin-top: -5px;
  }

  .account-project-box-sub {
    font-size: 16px;

  }

  .account-name {
    font-size: 30px;
    font-weight: bold;
  }

  a.account-project-box-link {
    color: black;
  }

  //projects

  .project_title {
    font-size: 40px;
    font-weight: bold;

  }

  .project_description {
    margin-top: -20px;
    font-size: 20px;

  }

  .project-box {
    background-color: white;
    min-height: 350px;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 30px;
    border-radius: 5px;
    webkit-box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
   -moz-box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
   box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
  }

  .project-box-header {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  a.project-box-link {
    color: black;
    &:hover {
       color: black;
     }
  }

  .project-box-preview {
    background-color: #f9faff;
    padding:10px;
    margin: 7px;
    border-radius: 10px;
  }

  .project-box-preview-item {
    background-color: white;
    min-height: 110px;
    width: 100%;
    font-size: 12px;
    padding: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    webkit-box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
   -moz-box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
   box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
  }

  .project-box-preview-board {
    background-color: #f7f4ef;
    padding:10px;
    margin: 7px;
    border-radius: 10px;

  }

  .project-box-preview-member {
    background-color: #f2e6e8;
    padding:5px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }

  .project-box-preview-challenge {
    background-color:  #d8f2d7;
    padding:10px;
    margin: 7px;
    border-radius: 10px;
  }

  .project-box-preview-text {
    font-size: 16px;
    font-weight: bold;
  }

  .project-box-preview-subtext {
    margin-top: -15px;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: lighter;
  }

  .project-item-list {
    font-size: 13px;
    color: black;
    font-weight: bolder;
    margin-top: 5px;
  }

  .project-item-dates {
    color: black;
    font-size: 9px;
    margin-top: -10px;
  }

  //items
  .item-formy {
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: white;
    margin-top: 40px;
  }

  .item-box {
    background-color: #fcf9f7;
    padding: 20px;
    border-radius: 15px;
  }

  .items-header {
    font-size: 30px;
    text-align: center;
    font-weight: bold;

  }

  .item {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    webkit-box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
   -moz-box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
   box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
  }

  .item-name {
    font-size: 22px;
  }

  .item-content {
    margin-top: -10px;
    font-size: 16px;
  }

  .item-image {
    width: 100%;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: -15px;
  }

  .item-rating {

  }

  .item_list {
    margin-bottom: -5px;
  }

  .item_detail {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -10px;
  }

  .item_detail_list {
    font-style: italic;
    font-weight: 200;
  }

  .item_time {
    margin-top: 20px;
    font-size: 12px;
  }

  //details
  .details-header {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }

  .detail-box {
    background-color: #f9faff;
    margin: 20px 150px 20px 150px;
    padding: 20px 70px 20px 70px;
    webkit-box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
    -moz-box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
    box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
  }

  .main-detail-name {
    font-size: 20px;
    font-weight: bolder;

  }

  .detail-name {
    font-size: 14px;
    border-radius: 10px;
    background-color: white;
    padding:5px;
    margin-right:15px;
    margin-left:0px;
    margin-top: 10px;
    margin-bottom:10px;
    border-width:thin;

  }

  .detail-description {
    font-size: 16px;
    color: grey;
  }

  .detail-list {
    float: left;
    overflow: auto;
  }

  //users
  .user-list {
    float: left;

  }

  .user-name {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    border-radius: 15px;
    background-color: white;
    font-size: 16px;

  }

  //boards
  .board-week-header {
    font-size: 26px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: -20px;
    text-decoration: underline;
  }

  .board-header {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 30px;
  }

  .board-note {

    font-size: 20px;
    font-weight: bolder;
  }

  .board-footer {
    font-size: 10px;
    font-style: italic;
    position: absolute;
    bottom: 10px;
    font-weight: bolder;
    margin-bottom: 20px;
  }

  a.board-box-link {
    color: black;
  }

  .board-form {
    margin-bottom: 50px;
    margin-left: 190px;
    margin-right: 190px;
  }

  .board-input {
    width:100%;
  }

  .board-box {
    background-color: white;
    min-height: 220px;
    width: auto;
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 30px;
    -webkit-box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.75);
  }

  // .board-box:hover {
  //   background-color: #e8e699;
  // }

  .board-note-bubble {
    background-color: #f2f2ef;
    opacity: 0.8;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 30px;
    width: 70%;
  }

  .board-respond-bubble {
    text-align: right;
  }

  //reviews
  .review-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
  }
  .review-box {
    width: 300px;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    margin-top: 20px;
    webkit-box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
    -moz-box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
    box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
  }

  a.review-box-link {
    color: black;
  }

  .review-description {
    font-size: 14px;

  }

  .review-footer {
    font-size: 12px;
    color: grey;
  }

  //users
  .invitation-header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
  }

  .invitation-box {
    font-size: 16px;
    padding:10px;
    margin:5px;
    border-radius: 15px;
    background-color: #f7f5f2;
  }

  .invitation-form {
    margin: auto;
    width:40%;
  }

  .members-subheader {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .no-top-margin {
     margin-top: 10px !important;
  }

  .formy-back {
    margin-left: 130px;
    margin-right: 130px;
    height: 50px;
    margin-top:60px;
    margin-bottom: -40px;
    background-color: white;
    padding: 10px;
  }

  .formy-back-title {
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    text-decoration: underline;
  }

  //challenges
  .challenge-box {
    background-color:  #d8f2d7;
    padding: 10px;
    margin: 20px;
    webkit-box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
    -moz-box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
    box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
  }

  .challenges-header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .challenge-name {
    font-size: 20px;
    font-weight: bold;
  }

  .challenge-description {
    font-size: 15px;

  }

  .preview_image {
    max-height: inherit;
  }

  h1 {
  	font-size: 50px;
  	font-weight: boldest;
  	line-height: 26.4px;
    margin: 20px 20px;
  }

  .check_box {
    font-size: 18px;
    color: grey;
  }


  .container {

    padding-bottom: 40px;
    margin-bottom: 80px;
  }

  .container-fluid {
    max-width: 95%;
  }

  .statsx br {
    display: block;
    margin: 5px 0;
    content: "";
    line-height:22px;
  }

  hr {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .landing-image {
    margin: auto;
  }

  .mobile-user {
    display: none;
  }

  .box {
    height: auto;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 30px;
    border-radius: 5px;
    background-color: white;
    border-style: solid;
    border-width: medium;
    border-color: #f7f5f2;

  }

  .project-board {
    min-height: 250px;

    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    margin-bottom: 40px;
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-color: #e2e2e2;
  }

  .stats {
    height: 150px;
    width: 100%;
    margin-right: 2px!important;
    margin-left: 2px!important;
    margin-top: 30px!important;
    padding-top: 20px;
    padding-left: 15px;
    border-radius: 10px;
    background-color: white;
    border-color: black;
    border-style: inset;
  }

  .formly {

    width: 75%;
    margin:auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 60px;
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-color: #e2dfd9;
  }

  .formy {
    max-width: 100%;
    padding-top: 35px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 80px;
    background-color: white;
    margin-top: 40px;
    webkit-box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
    -moz-box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
    box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
  }


  .modal-dialog {
    background-color: white;
  }

  .modal-content {
    background-color: white!important;
    margin-top: 100px;
    width: auto;
  }

  .modal-body {
    background-color: white!important;
    height: auto;
  }

  .input-text, select textarea {
    width: 100%;
    height: 100px;
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: 500;
    margin: 5px;
    resize: none;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: white;
  }

  .input, select textarea {
    width: 100%;
    height: 40px;
    font-size: 22px;
    margin: 5px;
    font-weight: 500;
    resize: none;
    background-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .extra-input, select textarea {
    width: 100%;
    height: 35px;
    font-size: 16px;
    margin: 5px;
    font-weight: 300;
    resize: none;
    background-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .extra-input::placeholder {
    font-weight: lighter;
    font-size: 16px;
  }

  input::placeholder {
    font-weight: bold;
  }

  .input-text > input::placeholder {
    color: #d8d8d8;
  }

  .input, select, textarea {

  }

  .navbar {
    background-color: white;
    font-size: 24px;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
    height: 50px;
    float: none;
    margin: 0;
    display: block;
    text-align: center;
    border: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    opacity: 0.9;
  }

  .navbar a{
    color: black!important;
    font-variant: small-caps;
  }

  .navbar li {
    color: black!important;
    font-variant: small-caps;
  }

  .navbar > li {
    display: inline-block;
    float:none;
  }

  .project-header {
    background-color: white;

  }

  .dropdown-container {
    position: relative;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%; /* Bottom of button */
    right: 0;
    margin: auto;
    background-color: #fcfcfc;
    font-size: 15px;
    opacity: 0.8;
    width: auto;
  }

  .dropdown-menu > li > a:hover {
    background-color: grey;
  }

  #footer {
    display: none;
  }

  .log-back {
    display: none;
  }

  .billing {
    margin-top: 40px;
    border-style: hidden;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  //style

  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }

  //buttons
  .btn-default {
    background-color: white;
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
  }

  .btn-success {
    background-color: #47ad74;
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
  }

  .btn-warning {
    background-color: #fffb47;
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
  }

  .btn-danger {
    background-color: #ef2d4d;
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
  }

  .btn-primary {
    background-color: #92cbe8;
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
  }

  .fa {
    font-size: 22px;
  }

  //detail selection in item's form
  /* Hide the browser's default checkbox */
  .detail-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  
  .detail-container {
    display: inline-block;

    position: absolute;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  label {
    font-size: 14px;
    font-weight: bold;
  }

  /* Create a custom checkbox */
  .checkmark {
      display: inline;
      position: absolute;
      float: left;
      top: 0;
      left: 0px;
      right: 10px;
      height: 20px;
      width: 20px;
      background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .detail-container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .detail-container input:checked ~ .checkmark {
    background-color: #7edb69;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
      content: "";
      position: absolute;
      display: none;
  }

  /* Show the checkmark when checked */
  .detail-container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .detail-container .checkmark:after {
      left: 6px;
      top: 3px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  }
}
