//desktop
 @media only screen and (min-width: 1026px) {

   .row {
     padding-top: 5px;
     padding-bottom: 5px;
     margin-top: 50px;
     margin-bottom: 5px;

   }

  .container {
    max-width: 100%;
    padding-bottom: 150px;
  }

  .container-fluid {

    
    margin-left: 10px;
    margin-right: 10px;
  }

  .landing-image {
    padding-right: 70px;
  }

  .col-md-4 {
    margin-bottom: 30px;
  }

  .big {
     display:block;
     width: 400px;
     height: 300px;
     background-color: white;
     cursor:pointer;
     padding-left: 20px;
     padding-top: 100px;
     padding-right: 20px;
     margin-top: 25px;
     margin-bottom: 25px;
   }

  .box {
    height: 150px;
    width: 100%;
    margin-right: 2px!important;
    margin-left: 2px!important;
    margin-top: 30px!important;
    padding-top: 20px;
    padding-left: 15px;
    border-radius: 10px;
  }

  .stats1 {
    height: 150px;
    width: 100%;
    margin-right: 2px!important;
    margin-left: 2px!important;
    margin-top: 30px!important;
    padding-top: 20px;
    padding-left: 15px;
    border-radius: 10px;
    background-color: #deeaab;
  }

  .stats2 {
    height: 150px;
    width: 100%;
    margin-right: 2px!important;
    margin-left: 2px!important;
    margin-top: 30px!important;
    padding-top: 20px;
    padding-left: 15px;
    border-radius: 10px;
    background-color: #f9bf7c;
  }

  .stats3 {
    height: 150px;
    width: 100%;
    margin-right: 2px!important;
    margin-left: 2px!important;
    margin-top: 30px!important;
    padding-top: 20px;
    padding-left: 15px;
    border-radius: 10px;
    background-color: #9dd3db;
  }

  .stats4 {
    height: 150px;
    width: 100%;
    margin-right: 2px!important;
    margin-left: 2px!important;
    margin-top: 30px!important;
    padding-top: 20px;
    padding-left: 15px;
    border-radius: 10px;
    background-color: #aa9a88;
  }

  .boxy {
    height: auto;
    width: auto;
    background-color: white;
    margin-right: 2px!important;
    margin-left: 2px!important;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .tile {
    border-radius: 10px;
    margin-bottom: 20px;
    height: 100px;
    width: 200px;
    background-color: white;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
  }

  .formly {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    border-style: none;
    border-radius: 20px;
    box-shadow: 0 6px 4px -4px black;
  }

  .formy {
    max-width: 50%;
    padding-top: 25px;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;

    margin: auto;
    background-color: white;
    border-style: none;
  }

  .item {
    width: auto;
    padding-top: 10px;
    height: auto;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    box-shadow: 0 6px 4px -4px black;
  }

  .comment {
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
  }

  .board-show {
    background-color: white;
    padding: 20px 20px 20px 20px;
  }

  .modal-content {
    background-color: white;
    margin-top: 300px;
  }

  .input, select {
    width: 80%;
    height: 50px;
    font-size: 18px;
    padding-bottom: 10px;
  }

  textarea {
    width: 100%;
    font-family: monospace;
    height: 150px;
    font-size: 18px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;

    resize: none;
  }

  .control-image {


    margin-left: 90px;

  }

  .navbar {
    height:55px;
  }

  .navbar {
    float: none;
    margin:0 auto;
    display: block;
    text-align: center;
  }

  .navbar > li {
    display: inline-block;
    float:none;
    text-align: center;
  }

  .dropdown-container {
    position: relative;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%; /* Bottom of button */
    right: 0;
    margin: auto;
    width: 300px;
    background-color: #f9f7f7;

    font-size: 20px;
    font-weight: bold;
  }

  #footer {
    display: none;
  }

  .log-back {
    display: none;
  }

  .billing {
    margin-top: 40px;
    border-style: hidden;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .review_drop {
    width: 400px;
  }
}
