//desktop
 @media only screen and (min-width: 1026px) {

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  h1 {
  	font-size: 50px;
  	font-weight: boldest;
  	line-height: 26.4px;
    margin: 20px 20px;
  }

  .row h4, h5, h6 {
    font-weight: 100;
  }

  .check_box {
    font-size: 18px;
    color: grey;
  }

   .row {
     padding-top: 5px;
     padding-left: 0px;
     padding-right: 0px;
     height: 100%;
   }

  .container {
    max-width: 70%;
    padding-bottom: 40px;
    margin-bottom: 80px;
  }

  .container-fluid {
    max-width: 95%;
  }

  .statsx br {
    display: block;
    margin: 5px 0;
    content: "";
    line-height:22px;
  }

  hr {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .landing-image {
    margin: auto;
  }

  .mobile-user {
    display: none;
  }

  .big {
     display:block;
     width: 400px;
     height: 300px;
     background-color: white;
     cursor:pointer;
     padding-left: 20px;
     padding-top: 100px;
     padding-right: 20px;
     margin-top: 25px;
     margin-bottom: 25px;
   }

  .box2 {
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
    width: 400px;
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
    background-color: white;
  }

  .box {
    margin-left: 0px;
    margin-right: 0px;
    min-height: 375px;
    max-height: 375px;
    width: 100%;
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: white;
  }

  .project-board {
    height: 250px;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    margin-bottom: 40px;
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-color: #e2e2e2;
  }

  .item-view {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 15px 25px 50px 25px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #fcfcfc;
  }

  .col-md-10 {
    height: auto;
  }

  .stats {
    height: 150px;
    width: 100%;
    margin-right: 2px!important;
    margin-left: 2px!important;
    margin-top: 30px!important;
    padding-top: 20px;
    padding-left: 15px;
    border-radius: 10px;
    background-color: white;
    border-color: black;
    border-style: inset;
  }

  .boxy {
    height: 50%;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1px;
    padding-right: 1px;
    border-style: none;
  }

  .boxyy {
    height: auto;
    width: 100%;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: white;
  }

  .formly {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f9f9f9;
    padding-left: 90px;
    padding-right: 90px;
  }

  .formly2 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    padding-left: 200px;
    padding-right: 200px;
  }

  .formy {
    max-width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;

  }

  .project-row {
    padding-left: 15px;
    padding-bottom: 50px;
  }

  .account_box1 {
    height: auto;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: #ffb03a;
  }

  .account_box2 {
    height: auto;
    width: 100%;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-style: none;
    background-color: inherit;
  }

  .account_box2:hover {
    height: auto;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    border-style: none;
    background-color: inherit;
    box-shadow: 20px 15px 100px -20px #556d7f;
  }

  .account_box3 {
    height: auto;
    width: 100%;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    border-style: none;
    background-color: white;
    box-shadow: 20px 15px 100px -20px #556d7f;
  }

  .account_box4 {
    height: auto;
    width: 100%;
    padding-bottom: 20px;

    border-radius: 5px;
    margin-bottom: 20px;
    border-style: none;
    background-color: white;
    box-shadow: 20px 15px 100px -20px #556d7f;
  }

  .comment {
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
  }

  .board-show {
    background-color: white;
    padding: 20px 20px 20px 20px;
  }

  .modal-dialog {
    background-color: white;
  }

  .modal-content {
    background-color: white!important;
    margin-top: 100px;
    width: auto;
  }

  .modal-body {
    background-color: white!important;
    height: auto;
  }

  .input-text, select textarea {
    width: 100%;
    height: 100px;
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 300;
    resize: none;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: white;
  }

  .input, select textarea {
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    font-weight: 300;
    resize: none;
    background-color: white;

  }

  input::placeholder {
    color: #c9c8c5;
  }

  .detail-text, select textarea {
    width: 50%;
    height: 30px;
    font-size: 15px;
    font-weight: bolder;
    border-top: none;
    border-right: none;
    border-left: none;

  }

  .navbar {
    height: 40px;
    float: none;
    margin:0 auto;
    display: block;
    text-align: center;
    padding-left: 15px;
  }

  .navbar > li {
    display: inline-block;
    float:none;
  }

  .project-header {
    background-color: white;

  }

  .dropdown-container {
    position: relative;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%; /* Bottom of button */
    right: 0;
    margin: auto;
    width: 300px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .dropdown-menu > li > a:hover {
    background-color: grey;
  }

  #footer {
    display: none;
  }

  .log-back {
    display: none;
  }

  .billing {
    margin-top: 40px;
    border-style: hidden;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  //style

  label {
    font-size: 18px;
    font-weight: 900;
  }

  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }

  //buttons
  .btn-default {
    margin: 10px 10px;
    background-color: white;
  }

  .fa {
    font-size: 22px;

  }

  //checkbox
  // input[type=checkbox] {
  //   transform: scale(2);
  // }

  .container2 {
    display: block;
    position: absolute;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container2 input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
  }

  /* Create a custom checkbox */
  .checkmark {
      position: absolute;
      top: 0;
      left: 0px;
      right: 30px;
      height: 25px;
      width: 25px;
      background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .container2:hover input ~ .checkmark {
      background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container2 input:checked ~ .checkmark {
      background-color: #7edb69;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
      content: "";
      position: absolute;
      display: none;
  }

  /* Show the checkmark when checked */
  .container2 input:checked ~ .checkmark:after {
      display: block;
  }

  /* Style the checkmark/indicator */
  .container2 .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  }
}
