//desktop
 @media only screen and (min-width: 1026px) {

  h1, h2, h3, h4, h5, h6 {
    // margin: 0!important;
    margin-bottom: 0.83em;
  }

   .row {
     padding-top: 5px;
     padding-bottom: 5px;
     margin-top: 20px;
     margin-bottom: 5px;
   }

  .container {
    max-width: 100%;
    padding-bottom: 150px;
  }

  .container-fluid {
    margin-left: 10px;
    margin-right: 10px;
  }

  .landing-image {
    margin: auto;
  }

  .col-md-3 {
    margin-bottom: 30px;
  }

  .mobile-user {
    display: none;
  }

  .big {
     display:block;
     width: 400px;
     height: 300px;
     background-color: white;
     cursor:pointer;
     padding-left: 20px;
     padding-top: 100px;
     padding-right: 20px;
     margin-top: 25px;
     margin-bottom: 25px;
   }

  .box {
    cursor:pointer;
    height: auto;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .board {
    height: auto;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    box-shadow: 20px 15px 100px -20px #556d7f;
    background-color: #fffcef;
  }

  .stats {
    height: 150px;
    width: 100%;
    margin-right: 2px!important;
    margin-left: 2px!important;
    margin-top: 30px!important;
    padding-top: 20px;
    padding-left: 15px;
    border-radius: 10px;
    background-color: white;
    border-color: black;
    border-style: inset;
  }

  .boxy {
    height: 50%;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-style: none;
  }

  .boxyy {
    height: auto;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: white;
    border-width: thin;
    border-style: solid;
  }

  .formly {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    box-shadow: 20px 15px 100px -20px #556d7f;
    text-align: center;
  }

  .formy {
    cursor:pointer;
    max-width: 100%;
    padding-top: 25px;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    box-shadow: 20px 15px 100px -20px #556d7f;
  }

  .item {

  }

  .account_box1 {
    height: 200px;
    width: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    border-style: none;
    background-color: white;
    box-shadow: 20px 15px 100px -20px #556d7f;
  }

  .text-space h1,h2,h3,h4,h5,h6,p {
    line-height: 30px;
  }

  .account_box2 {
    height: auto;
    width: 100%;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    border-style: none;
    background-color: white;
    box-shadow: 20px 15px 100px -20px #556d7f;

  }

  .account_box3 {
    height: auto;
    width: 100%;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    border-style: none;
    background-color: white;
    box-shadow: 20px 15px 100px -20px #556d7f;
  }

  .account_box4 {
    height: auto;
    width: 100%;
    padding-bottom: 20px;

    border-radius: 5px;
    margin-bottom: 20px;
    border-style: none;
    background-color: white;
    box-shadow: 20px 15px 100px -20px #556d7f;
  }

  .comment {
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
  }

  .board-show {
    background-color: white;
    padding: 20px 20px 20px 20px;
  }

  .modal-header {
    background-color: white;
    text-align: center;
  }

  .modal-content {
    background-color: white;
    margin-top: 100px;
  }

  .modal-body {
    width: auto;
    height: auto;

  }

  .input-text, select textarea {
    width: 100%;
    height: 100px;
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: lighter;
    resize: none;
    border-top: none;
    border-right: none;
    border-left: none;

  }

  .input, select textarea {
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: lighter;
    resize: none;
  }

  .detail-text, select textarea {
    width: 50%;
    height: 30px;
    font-size: 15px;
    font-weight: bolder;
    border-top: none;
    border-right: none;
    border-left: none;
  }

  .control-image {
    // width: 100%;
  }

  .navbar {
    padding-top: 10px;
    height: 75px;
  }

  .navbar {
    float: none;
    margin:0 auto;
    display: block;
    text-align: center;
  }

  .navbar > li {
    display: inline-block;
    float:none;
    text-align: center;
  }

  .dropdown-container {
    position: relative;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%; /* Bottom of button */
    right: 0;
    margin: auto;
    width: 300px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .dropdown-menu > li > a:hover {
    background-color: grey;
  }

  #footer {
    display: none;
  }

  .log-back {
    display: none;
  }

  .billing {
    margin-top: 40px;
    border-style: hidden;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  //style

  label {
    font-size: 30px;
    font-weight: 900;
    font-family: monospace;
  }

  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}
