@media only screen and (min-width: 1026px) {
  .item-formy {
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: white;
    margin-top: 40px;
  }

  .item-box {
    background-color: #fcf9f7;
    padding: 20px;
    border-radius: 15px;
  }

  .items-header {
    font-size: 30px;
    text-align: center;
    font-weight: bold;

  }

  .item {
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-width: thin;
    border-color: #cccccc;
    height: 200px;
  }

  .item-name {
    font-size: 22px;
    color: #878787;

  }

  .item-content {
    font-size: 15px;
    color: #878787
  }

  .item-image {
    width: 100%;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: -15px;
  }

  .item-rating {

  }

  .item-exit {
    font-size: 12px;
    color: grey;
    text-decoration: underline;
  }

  .item-detail {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -10px;
  }

  .item-detail-list {
    font-style: italic;
    font-weight: 200;
  }

  .item-time {
    margin-top: 20px;
    font-size: 12px;
  }

  .item-attributes {
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }


  .review-header {
    font-size: 16px;
    font-weight: bold;
  }

  .review-box {
    width: 300px;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    margin-top: 20px;
    webkit-box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
    -moz-box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
    box-shadow: 1px 1px 23px -9px rgba(0,0,0,0.32);
  }

  a.review-box-link {
    color: black;
  }

  .review-description {
    font-size: 14px;

    }

  .review-footer {
    font-size: 12px;
    color: grey;
  }


  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .no-top-margin {
     margin-top: 10px !important;
  }

  .stat-title {
    font-size: 14px;
    font-weight: bold;
    color: #595959;
  }

}
