//mobile
 @media only screen and (max-width: 400px) {

   #footer {
     display: block;
   }

   .navbar {
     display: none;
   }

   .container {
     padding-top: 25px;
     padding-bottom: 50px;
   }

   .box {
      height: 75px;
      width: auto;
      background-color: white;
      margin-top: 15px;
      border-radius: 10px;
      padding-left: 10px;
      padding-top: 15px;
      padding-right: 10px;
    }

    .boxy {
      height: auto;
      background-color: white;
      width: auto;
      margin-top: 30px!important;
      border-radius: 10px;
      padding-top: 15px;
      padding-left: 10px;
      padding-right: 10px;
    }

    h1, h2, h3, h4 {
      font-size: 125%;
    }

    .star-rating {
      zoom: 60%;
    }

    .input, select{
      width: 95%;
      height: 100%;
      font-size:15px;
    }

    textarea {
      width: 100%;
      height: auto;
      font-size: 15px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;

      resize: none;
    }

    .formly {
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: white;
    }

    .formy {
      border-radius: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: #ccc6c1;
    }
 }
