//mobile
 @media only screen and (max-width: 400px) {

   #footer {
     padding-top: 0px;
     margin-bottom: 10px;
     display: block;

     .navfooter {
       float:none;
       display:inline-block;
       vertical-align: top;
     }
   }

   .navbar {
     display: none;
   }

   .container {
     padding-top: 25px;
     padding-bottom: 50px;
   }

   .landing-image {

     padding-bottom: 40px;
   }

   .box {
      height: 75px;
      width: auto;
      background-color: white;
      margin-top: 15px;
      border-radius: 10px;
      padding-left: 10px;
      padding-top: 15px;
      padding-right: 10px;
    }

    .boxy {
      height: auto;
      background-color: white;
      width: auto;
      margin-top: 30px!important;
      border-radius: 10px;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
    }

    .tile {
      border-radius: 10px;
      margin-bottom: 20px;
      height: 100px;
      padding-top: 5px;
      padding-left: 10px;
      padding-right: 5px;
      padding-bottom: 5px;
      width: auto;
      background-color: white;

    }

    h1, h2, h3, h4 {
      font-size: 125%;
    }

    .star-rating {
      zoom: 60%;
    }

    .input, select{
      width: 100%;
      height: 20px;
      font-size: 15px;
      padding-bottom: 25px;
      padding-top: 25px;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 10px;

    }

    textarea {
      width: 100%;
      height: auto;
      font-size: 15px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;

      resize: none;
    }

    .formly {
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: white;
    }

    .formy {
      border-radius: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: #ccc6c1;
    }

    .icon-bar {
      width: 100%;
      background-color: #f7ead9;
      overflow: auto;
      z-index: 1000;
    }

    .icon-bar a {
      float: left;
      width: 20%;
      text-align: center;
      padding: 12px 0;
      transition: all 0.3s ease;
      color: #acd1a7;
      font-size: 36px;
    }

    .icon-bar a:hover {
      background-color: grey;
    }

 }
