//mobile
 @media only screen and (max-width: 759px) {

   #footer {
     clear: both;
     background: white!important;
     padding-top: 0px;
     margin-bottom: 10px;
     display: block;

     .navfooter {
       float:none;
       display:inline-block;
       vertical-align: top;
      }

      .fa {
        font-size: 20px;
      }
   }

   // .fa {
   //   font-size: 20px;
   // }

   .row {

     margin-bottom: 10px;
   }

   .navbar {
     display: none;
   }

   .container {
     padding-top: 25px;
     padding-bottom: 50px;
   }

   .landing-image {

     padding-bottom: 40px;
   }

   .control-image {
     width: 100%;
   }

   .box {
      height: auto;
      width: auto;
      background-color: white;
      margin-bottom: 20px;
      border-radius: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;

    }

    .stats {
      height: 85px;
      width: auto;
      background-color: white;
      margin-top: 15px;
      border-radius: 10px;
      padding-left: 10px;
      padding-top: 15px;
      padding-right: 10px;
      background-color: #fffcef;
    }

    .boxy {
      height: auto;
      width: auto;
      margin-top: 15px;
      border-radius: 10px;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
    }

    .board {
      height: auto;
      width: 100%;
      margin-top: 5px;
      padding-top: 5px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 5px;
      box-shadow: 20px 15px 100px -20px #556d7f;
      background-color: #fffcef;
    }

    .tile {
      border-radius: 10px;
      height: auto;
      padding-top: 2px;
      padding-left: 2px;
      padding-right: 2px;
      padding-bottom: 2px;
      width: auto;
      background-color: white;
      margin: auto;
    }

    .item {
      padding-bottom: 100px;
    }

    .account_box1 {
      height: auto;
      width: auto;
      padding-bottom: 20px;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 10px;
      margin-bottom: 25px;
      border-style: none;
      background-color: white;
      box-shadow: 20px 15px 100px -20px #556d7f;
    }

    .text-space h1,h2,h3,h4,h5,h6,p {
      line-height: 20px;
    }

    .account_box2 {
      height: auto;
      width: 100%;
      padding-bottom: 20px;
      border-radius: 5px;
      margin-bottom: 20px;
      border-style: none;
      background-color: white;
      box-shadow: 20px 15px 100px -20px #556d7f;

    }

    .account_box3 {
      height: auto;
      width: 100%;
      padding-bottom: 20px;
      border-radius: 5px;
      margin-bottom: 20px;
      border-style: none;
      background-color: white;
      box-shadow: 20px 15px 100px -20px #556d7f;
    }

    .account_box4 {
      height: auto;
      width: 100%;
      padding-bottom: 20px;
      border-radius: 5px;
      margin-bottom: 20px;
      border-style: none;
      background-color: white;
      box-shadow: 20px 15px 100px -20px #556d7f;
    }

    .comment {
      padding: 20px 20px 20px 20px;
      margin-bottom: 20px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .board-show {
      background-color: white;
      padding: 10px 10px 10px 10px;
      margin-left: 15px;
      margin-right: 15px;
    }

    .modal-header {
      background-color: white;
      text-align: center;
    }

    .modal-content {
      background-color: white;
      margin-top: 50px;;
    }

    .modal-body {
      width: auto;
      height: auto;
    }

    .col-xs-4 {
      margin-left: 0px;
      margin-right: 0px;
    }

    h2 {
      font-size: 28px;
    }

    .input, select textarea{
      width: 100%;
      height: 60px;
      font-size: 15px;
      padding-bottom: 25px;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 10px;
      resize: none;
    }

    .input-text, select textarea {
      width: 100%;
      height: 80px;
      font-size: 15px;
      padding-bottom: 10px;
      font-weight: lighter;
      resize: none;
      border-top: none;
      border-right: none;
      border-left: none;
    }

    .detail-text, select textarea {
      width: 60%;
      height: 20px;
      font-size: 15px;
      font-weight: bolder;
      border-top: none;
      border-right: none;
      border-left: none;
    }

    .formly {
      height: auto;
      max-width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
      background-color: white;
      box-shadow: 20px 15px 50px -20px #556d7f;
    }

    .formy {
      cursor:pointer;
      max-width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 25px;
      padding-right: 15px;
      background-color: white;
      box-shadow: 20px 15px 100px -20px #556d7f;
    }

    #push, #footer {
      height: 35px;
    }

    .icon-bar {
      width: 100%;
      background-color: white;
      overflow: auto;
      z-index: 1000;
      box-shadow: 20px 15px 100px -20px #556d7f;
    }

    .icon-bar a {
      float: left;
      width: 20%;
      text-align: center;
      padding-top: -5px;
      padding-bottom: 25px;
      transition: all 0.3s ease;
      color: #acd1a7;
      font-size: 28px;
    }

    .icon-bar a:hover {
      background-color: grey;
    }

    .big {
       display:block;
       width: auto;
       height: 200px;
       background-color: white;
       cursor:pointer;
       padding-left: 20px;
       padding-top: 50px;
       padding-right: 20px;
       margin-top: 25px;
       margin-bottom: 25px;
     }

     .dropdown-container {
       position: relative;
     }

     .dropdown-menu {
       position: absolute;
       top: 100%; /* Bottom of button */
       right: 0px;
       margin: auto;
       width: 25px;
       background-color: white;
       font-size: 15spx;
       font-weight: bold;
     }

    //style
    label {
      font-size: 15px;
    }


 }
