//mobile
 @media only screen and (max-width: 759px) {

   #footer {
     background-color: white!important;
     padding-top: 0px;
     margin-bottom: 10px;
     display: block;

     .navfooter {
       float:none;
       display:inline-block;
       vertical-align: top;
      }

      .fa {
        font-size: 35px;
      }
   }

   .fa {
     font-size: 20px;
   }

   .row {

     margin-bottom: 10px;
   }

   .navbar {
     display: none;
   }

   .container {
     padding-top: 25px;
     padding-bottom: 50px;
   }

   .landing-image {

     padding-bottom: 40px;
   }

   .box {
      height: auto;
      width: auto;
      background-color: white;
      margin-bottom: 20px;
      border-radius: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;

    }

    .stats {
      height: 85px;
      width: auto;
      background-color: white;
      margin-top: 15px;
      border-radius: 10px;
      padding-left: 10px;
      padding-top: 15px;
      padding-right: 10px;
      background-color: #fffcef;
    }

    .boxy {
      height: auto;
      width: auto;
      margin-top: 15px;
      border-radius: 10px;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
    }

    .board {
      height: auto;
      width: 100%;
      margin-top: 5px;
      padding-top: 5px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 5px;
      box-shadow: 20px 15px 100px -20px #556d7f;
      background-color: #fffcef;
    }

    .tile {
      border-radius: 10px;
      height: auto;
      padding-top: 2px;
      padding-left: 2px;
      padding-right: 2px;
      padding-bottom: 2px;
      width: auto;
      background-color: white;
      margin: auto;
    }

    .item {
      padding-top: 5px;
      height: auto;
      padding-bottom: 5px;
      padding-left: 5px;
      padding-right: 5px;
      background-color: white;
      box-shadow: 0 6px 4px -4px black;
    }

    .comment {
      padding: 20px 20px 20px 20px;
      margin-bottom: 20px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .board-show {
      background-color: white;
      padding: 10px 10px 10px 10px;
      margin-left: 15px;
      margin-right: 15px;
    }

    .modal-content {
      background-color: white;
      margin-top: 100px;
    }

    .col-xs-4 {
      margin-left: 0px;
      margin-right: 0px;
    }

    h1, h2, h3, h4 {
      font-size: 100%;
    }

    .star-rating {
      zoom: 60%;
    }

    .input, select{
      width: 100%;
      height: 20px;
      font-size: 15px;
      padding-bottom: 25px;
      padding-top: 25px;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 10px;

    }

    textarea {
      width: 100%;
      height: auto;
      font-size: 15px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;

      resize: none;
    }

    .formly {
      width: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: white;
    }

    .formy {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      margin: auto;
      background-color: white;
      border-style: none;
    }

    .icon-bar {
      width: 100%;
      background-color: #f7ead9;
      overflow: auto;
      z-index: 1000;
    }

    .icon-bar a {
      float: left;
      width: 20%;
      text-align: center;
      padding: 12px 0;
      transition: all 0.3s ease;
      color: #acd1a7;
      font-size: 36px;
    }

    .icon-bar a:hover {
      background-color: grey;
    }

    .big {
       display:block;
       width: auto;
       height: 200px;
       background-color: white;
       cursor:pointer;
       padding-left: 20px;
       padding-top: 50px;
       padding-right: 20px;
       margin-top: 25px;
       margin-bottom: 25px;
     }

     .dropdown-container {
       position: relative;
     }

     .dropdown-menu {
       position: absolute;
       top: 100%; /* Bottom of button */
       right: 0px;
       margin: auto;
       width: 25px;
       background-color: white;
       font-size: 15spx;
       font-weight: bold;
     }

    //style
    label {
      font-size: 15px;
    }


 }
