//mobile
 @media only screen and (min-width: 760px) and (max-width: 1024px)  {

   .row {
    margin-top: 20px;
   }

   #footer {
     padding-top: 0px;
     margin-bottom: 10px;
     display: block;

     .navfooter {
       float:none;
       display:inline-block;
       vertical-align: top;
     }
   }

   .navbar {
     display: none;
   }

   .container {
     padding-top: 25px;
     padding-bottom: 50px;
   }

   .landing-image {

     padding-bottom: 40px;
   }

   .box {
      height: auto;
      width: auto;
      background-color: white;
      margin-top: 10px;
      border-radius: 10px;
      padding-left: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 10px;
    }

    .boxy {
      height: auto;
      background-color: white;
      width: auto;
      margin-top: 30px!important;
      border-radius: 10px;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
    }

    .tile {
      border-radius: 10px;
      margin-bottom: 20px;
      height: 100px;
      padding-top: 5px;
      padding-left: 10px;
      padding-right: 5px;
      padding-bottom: 5px;
      width: auto;
      background-color: white;
    }

    .col-xs-4 {
      margin-left: 0px;
      margin-right: 0px;
    }

    h1, h2, h3, h4 {
      font-size: 150%;
    }

    .star-rating {
      zoom: 60%;
    }

    .input, select{
      width: 100%;
      height: 20px;
      font-size: 15px;
      padding-bottom: 25px;
      padding-top: 25px;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 10px;

    }

    textarea {
      width: 100%;
      height: auto;
      font-size: 15px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;

      resize: none;
    }

    .formly {
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: white;
    }

    .formy {
      cursor:pointer;
      max-width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 25px;
      padding-right: 15px;
      background-color: white;
      box-shadow: 20px 15px 100px -20px #556d7f;
    }

    .icon-bar {
      width: 100%;
      background-color: white;
      overflow: auto;
      z-index: 1000;
    }

    .icon-bar a {
      float: left;
      width: 20%;
      text-align: center;
      padding: 5px 0;
      transition: all 0.3s ease;
      color: #acd1a7;
      font-size: 36px;
    }

    .icon-bar a:hover {
      background-color: grey;
    }

    .big {
       display:block;
       width: auto;
       height: 200px;
       background-color: white;
       cursor:pointer;
       padding-left: 20px;
       padding-top: 50px;
       padding-right: 20px;
       margin-top: 25px;
       margin-bottom: 25px;
     }

     .dropdown-container {
       position: relative;
     }

     .dropdown-menu {
       position: absolute;
       top: 100%; /* Bottom of button */
       right: 0px;
       margin: auto;
       width: auto;
       background-color: white;
       font-size: 22px;
       font-weight: bold;
     }

     .account_box1 {
       height: auto;
       width: auto;
       padding-bottom: 20px;
       padding-top: 20px;
       padding-left: 20px;
       padding-right: 20px;
       border-radius: 10px;
       margin-bottom: 25px;
       border-style: none;
       background-color: white;
       box-shadow: 20px 15px 100px -20px #556d7f;
     }

     .account_box3 {
       height: auto;
       width: 100%;
       padding-bottom: 20px;
       border-radius: 5px;
       margin-bottom: 20px;
       border-style: none;
       background-color: white;
       box-shadow: 20px 15px 100px -20px #556d7f;
     }

     .account_box4 {
       height: auto;
       width: 100%;
       padding-bottom: 20px;
       border-radius: 5px;
       margin-bottom: 20px;
       border-style: none;
       background-color: white;
       box-shadow: 20px 15px 100px -20px #556d7f;
     }

     .detail-text, select textarea {
       width: 60%;
       height: 20px;
       font-size: 15px;
       font-weight: bolder;
       border-top: none;
       border-right: none;
       border-left: none;
     }

 }
