<div class="row">
    <h1>Latest Activities</h1>
    <br>

    <!-- <% @activities.each do |activity| %>
      <div class="col-md-4">
        <div class="boxy">

          <%= activity.trackable.inspect %>
        </div>
      </div>
    <% end %> -->

    <!-- <% @activities.each do |activity| %>
      <%= render partial "activities/#{ activity.trackable.review }",
         activity: activity,
         object: activity.trackable,
         owner: activity.owner
      %>
    <% end %> -->
    <%= render_activities @activities %>

  </div>
</div>
