<div class="row">
    <h1>Latest Activities</h1>
    <br>

    <% @activities.each do |activity| %>
      <div class="col-md-4">
        <% if activity.trackable %>
        <div class="boxy">
          <h4><%= activity.owner.email %></h4>
          <%= render_activity activity %>
        </div>
        <% end %>

      </div>
    <% end %>

  </div>
</div>
