<% @item.details.each do |detail| %>

  <h6><strong><%= detail.name %></strong></h6>
  <div id="star-rating_<%= detail.id %>"></div>
  <br>
  <script>
    $("#star-rating_<%= detail.id %>").each(function() {
      $(this).raty({
        path: '/assets/',
        scoreName: 'review[properties[<%= detail.name %>]',
        score: 'review[properties]'
      });
    });
  </script>
<% end %>
