<div class="review">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="review-header">
        <h2><span>new review</span></h2>
        <p class="text-center">Here you can rate each attribute of the item you're reviewing</p>
      </div>
      <br>
      <br>
      <%= render "form" %>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
