<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <% @plans.each do |plan| %>
      <tr>
        <td>
          <%= plan.name %>
        </td>
        <td>
          <%= money(plan.amount) %>
        </td>
        <td>
          <%= form_tag account_switch_plan_path(account_id: current_account.id, plan_id: plan.id), method: :put do %>

            <%= submit_tag "Switch", id: "choose_#{plan.name.underscore}", class: 'btn btn-primary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
