<div class="row">
  <p class="plan-picker-content">
  Stimulus has been a boon to my productivity as a single developer, with little Javascript experience. I’ve used Angular in the past, but it seemed like I had to go all in on Angular and relegate Rails to a dumb API. I love Rails, so this wasn’t going to be my selected solution.

  Since Stimulus was launched, I’ve taken the time to learn it, and I though I’d share some of what I’ve learned in a series of small tutorials.
</p>
</div>
