<% @title = "Aetomata - Choose Plan" %>


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2 class="font-weight-bold">Plan and Pricing</h2>
  <% if current_account.stripe_subscription_id.present? %>
    <li class="popover-toggle ">
      <a href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <icon class="fa fa-ellipsis-h"></icon>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Cancel your subscription", account_cancel_subscription_path, method: :delete, data: { confirm: "Are you sure you would like to cancel your subscription?"} %>
        </li>
      </ul>
    </li>
  <% end %>
  <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>
  <p class="card-text">back to <%= link_to "Home", accounts_path(@accounts) %></p>
</div>



<%= render "plan_picker" %>


<script src="https://checkout.stripe.com/checkout.js"></script>
<%= javascript_include_tag "plans" %>
