<div class="formy">
  <% if current_account.stripe_subscription_id.present? %>
    <li class="dropdown pull-right">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <icon class="fa fa-ellipsis-v"></icon>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li>
          <%= link_to "Cancel your subscription", account_cancel_subscription_path, method: :delete, data: { confirm: "Are you sure you would like to cancel your subscription?"} %>
        </li>
      </ul>
    </li>
  <% end %>
  <br>
  <%= render "plan_picker" %>

</div>


<script src="https://checkout.stripe.com/checkout.js"></script>
<%= javascript_include_tag "plans" %>
