<%= form_for ([current_account, set_project, @detail]) do |f| %>
    <% f.hidden_field :project_id %>
    <li><%= f.text_field :name, placeholder: "", class: "detail-text" %>   <%= f.button "change", class: "btn btn-warning btn-xs" %> </li>

<% end %>
