<%= form_for ([current_account, set_project, @detail]), remote: true, html: {} do |f| %>
  
    <li><%= f.text_field :name, placeholder: "", class: "detail-text" %>   <%= f.button "add", class: "btn btn-success btn-xs" %></li>
<% end %>
