<div class="detail-box" id="current-pane">
  <%= form_for ([current_account, @project, @detail]), remote: true, html: {} do |f| %>
    <div >
      <% f.hidden_field :project_id %>
      <%= f.text_field :name, placeholder: "name", class: "input" %>
      <br>
      <%= f.text_field :description, placeholder: "description", class: "input" %>
      <br>
      <%= f.button "add", class: "btn btn-success" %>
      <button href="#current-pane" class="btn btn-xs" data-dismiss="alert" aria-label="close" id="hide">close</button>
    </div>
  <% end %>
</div>
