<div id="current-pane">
  <%= form_for([current_account, @project, @detail], remote: true) do |f| %>
    <div class="formly" >
      <% f.hidden_field :project_id %>
      <%= f.text_field :name, placeholder: "name", class: "input" %>
      <br>
      <%= f.text_field :description, placeholder: "description", class: "extra-input" %>
      <br>
      <div class="row">
        <div class="pull-right">
          <%= f.button "add", class: "btn btn-success" %>
          <button href="#current-pane" class="btn btn-xs" data-dismiss="alert" aria-label="close" id="hide">close</button>
        </div>
      </div>
    </div>
  <% end %>
</div>
