<% @title = @project.title + " - Details" %>

<br>
<div class="bottom-padding">
  <h4 class="card-title">
    <strong>Details</strong>
    <button href="#" id="new_detail" class="popover-toggle btn btn-sm btn-primary"  title="Create new detail" data-container="body" data-placement="bottom" >New</button>

    <div id="new-detail" class="is-hidden" >
      <%= render "form" %>
    </div>
  </h4>


  <h6 >With supporting text below as a natural lead-in to additional content.</h6>
  <p class="card-text ">back to <%= link_to @project.title, account_project_path(current_account, @project), class: "primary-link" %></p>
  <hr>

  <div class="my-details"></div>
  <% if @details.present? %>
      <%= render @details %>
  <% else %>
    <h5 class="font-weight-bold way-down-center text-center">Nothing yet</h5>
  <% end %>

</div>

<div id="detail-modal" class="modal"></div>

<script>
  $(function(){

      $('#new_detail').popover({
        html : true,
        offset: '110px',
        content: function() {
          return $('#new-detail').html();
        }
    });
  });
</script>
