<% @title= set_project.title + " - details"  %>

<%= link_to account_project_path(current_account, set_project) do %>
  <div class="formy-back">
    <p class="formy-back-title"><%= set_project.title %></p>
  </div>
<% end %>

<div class="formy">

  <p class="details-header ">
    Details
    <%= link_to "New detail", new_account_project_detail_path(current_account, @project, @detail), remote: true, class: "btn btn-success btn-lg pull-left" %>
  </p>
  <hr>
  <div class="row">
    <div class="new-detail-button"></div>
    <div class="my-details"></div>
    <%= render @details %>
  </div>
</div>
