<div class="row">
    <h2 class="text-center"><strong>pick an account</strong></h2>
</div>


<% if user_signed_in? %>
<div class="row">

  <% current_user.all_accounts.each do |account| %>
    <div class="col-md-4">
      <div class="box">
        <h3><%= link_to content_tag(:span, account.name), account_path(account) %></h3>
        <br>
        <h5>Projects <%= account.projects.count %></h5>
        <h5>Members <%= account.users.count %></h5>
      </div>
    </div>
  <% end %>

</div>
<% end %>
