<% if user_signed_in? %>
<h2 class="title">Pick an account</h2>
<div class="tile is-ancestor">
  <% current_user.all_accounts.each do |account| %>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title"><%= link_to account.name, account_path(account) %></p>
        <p class="subtitle">Make it count</p>
      </article>
    </div>
  <% end %>
</div>
<% end %>
